@base:"16px";
@color:"#343434";
.clueBox{
    background:#fff;
    margin: 30px;
    padding-bottom: 24px;
}
.clueLeft{
    // width: 415px;
}
.clueRight{
    .clueRightTit{
        font-size: 20px;
        color: @color;
        margin-bottom: 14px;
    }
}
.clueResult{
    width: 100%;
    // width: 312px;
    height: 214px;
    background: #f1f2f7;
    p{
        height: 40px;
        background: #e0e0e0;
        font-size: @base;
        color: @color;
        line-height: 40px;
        padding-left: 18px;
    }
    .clueResultContent{
        padding: 14px;
        font-size: @base;
        color: @color;
    }
}
.clueRBtm{
    background: #f1f2f7;
    width: 100%;
    min-height: 100px;
    margin: 0;
    .bTop{
        width: 100%;
    }
    .cLeft{

    }
    .cItem{
        background: #f9d012;
        width: 100%;
        min-height: 20px;
        margin: 20px;
        p{
            text-align: center;
            font-size: 14px;
            color: #fff;
        }
        .p1{

            line-height: 14px;
            padding-top: 12px;
        }
        .p2{
            line-height: 30px;
            margin-top: 16px;
            span{
                font-size: 30px;
                font-weight: 700;
            }
        }
        .p3{
            height: 40px;
            background: #f7ab00;
            line-height: 40px;
        }
        .p4{
            height: 35px;
            background: #23313f;
            line-height: 35px;
        }
    }

}
