.privilegeBox{
    background:#fff;
    margin: 30px;
    padding-bottom: 24px;
    padding:30px 15px 15px;
    h3{
        font-size: 18px;
        font-weight: normal;
        color: #343434;
        line-height: 18px;

    }

}
