@import "bulma.css";
@import './views/clue.less';
@import "views/overview.less";
@import "./views/chart.less";

body {
    background: #FFF;
}
.ContentWapper {
    position: absolute;
    left: 56px;
    right: 0;
    top: 58px;
    bottom: 0;
    background-color: #f1f2f7;
}
html,body{
    width: 100%;
    height: 100%;
}
