@import "bulma.css";
@import "./antd.css";
@import "./_mixin.less";
@import "./_utilities.less";
@import './views/clue.less';
@import "./views/overview.less";
@import "./views/chart.less";
@import "./views/creategroup.less";
@import "./views/privilege.less";

body {
    background: #FFF;
}
.ContentWapper {
    position: absolute;
    left: 56px;
    right: 0;
    top: 58px;
    bottom: 0;
    background-color: #f1f2f7;
}
html,body{
    width: 100%;
    height: 100%;
}

.cardHeader {
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid #dfdfdf;
    font-size: 18px;
    color: #343434;
    text-indent: 18px;
    width: 100%
}

.ant-table-thead {
    th {
            background: #1abc9c !important;
            color: white !important;
    }
}
