@import "./_mixin.less";
@import "./_utilities.less";

@easing-in-out: cubic-bezier(0.35, 0, 0.25, 1);
@effect-duration: .3s;


.pan {
    // width: 422px;
    // height: 422px;

    // .state1 {
    //     width: 100%;
    //     height: 100%;
    //     // background: url(../img/pan-s1.png)
    // }
    // .state2 {
    //     width: 100%;
    //     height: 100%;
    //     background: url(../img/pan-s2.png)
    // }
    .panbg {
        // width: 100%;
        // height: 100%;
        // width: 100%;
        // height: 100%;
    }
    .arr {
        // width: 60%;
        height: 55%;
        position:absolute;
        // background: url(../img/pan-arr.png);
        transition-duration: 0.8s;
        transition-property: transform;
    }
    .arr-transition-s1 {
        transform: rotate(-38deg);
    }
    .arr-transition-s2 {
        transform: rotate(0deg);
    }
    .panbg {
        // position: absolute;
    }
    span {
        position: absolute;
        font-size: 18px;
        color: black;
    }
}
